{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head lang="en">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/icons.css' %}">
    <!-- External Styles -->
    <link rel="stylesheet" href="{% static 'css/external/jquery-ui-1.9.1.custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/external/jquery.chosen.css' %}">
    <link rel="stylesheet" href="{% static 'css/external/jquery.cleditor.css' %}">
    <link rel="stylesheet" href="{% static 'css/external/jquery.colorpicker.css' %}">
    <link rel="stylesheet" href="{% static 'css/external/jquery.elfinder.css' %}">
    <link rel="stylesheet" href="{% static 'css/external/jquery.fancybox.css' %}">
    <link rel="stylesheet" href="{% static 'css/external/jquery.jgrowl.css' %}">
    <link rel="stylesheet" href="{% static 'css/external/jquery.plupload.queue.css' %}">
    <link rel="stylesheet" href="{% static 'css/external/syntaxhighlighter/shCore.css' %}" />
    <link rel="stylesheet" href="{% static 'css/external/syntaxhighlighter/shThemeDefault.css' %}" />
    <!-- Elements -->
    <link rel="stylesheet" href="{% static 'css/elements.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">

    <!-- OPTIONAL: Print Stylesheet for Invoice -->
    <link rel="stylesheet" href="{% static 'css/print-invoice.css' %}">

    <!-- Typographics -->
    <link rel="stylesheet" href="{% static 'css/typographics.css' %}">

    <!-- Responsive Design -->
    <link rel="stylesheet" href="{% static 'css/media-queries.css' %}">

    <!-- Bad IE Styles -->
    <link rel="stylesheet" href="{% static 'css/ie-fixes.css' %}">
    <meta charset="UTF-8">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.js"></script>
    <script>window.jQuery || document.write('<script src="{% static 'js/libs/jquery-1.8.2.js' %}"><\/script>')</script>

        <!-- Do the same with jQuery UI -->
    <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
    <script>window.jQuery.ui || document.write('<script src="{% static 'js/libs/jquery-ui-1.9.1.js' %}"><\/script>')</script>

        <!-- Do the same with Lo-Dash.js -->
    <!--[if gt IE 8]><!-->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/0.8.2/lodash.js"></script>
    <script>window._ || document.write('<script src="{% static 'js/libs/lo-dash.js' %}"><\/script>')</script>
    <!--<![endif]-->
    <!-- IE8 doesn't like lodash -->
    <!--[if lt IE 9]><script src="http://documentcloud.github.com/underscore/underscore.js"></script><![endif]-->

    <!-- Do the same with require.js -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/require.js/2.0.6/require.js"></script>
    <script>window.require || document.write('<script src="{% static 'js/libs/require-2.0.6.min.js' %}"><\/script>')</script>


    <!-- Load Webfont loader -->
    <script type="text/javascript">
        window.WebFontConfig = {
            google: { families: [ 'PT Sans:400,700' ] },
            active: function(){ $(window).trigger('fontsloaded') }
        };
    </script>
    <script defer async src="https://ajax.googleapis.com/ajax/libs/webfont/1.0.28/webfont.js"></script>

    <!-- Essential polyfills -->
    <script src="{% static 'js/mylibs/polyfills/modernizr-2.6.1.min.js' %}"></script>
    <script src="{% static 'js/mylibs/polyfills/respond.js' %}"></script>
    <script src="{% static 'js/mylibs/polyfills/matchmedia.js' %}"></script>
    <!--[if lt IE 9]><script src="{% static 'js/mylibs/polyfills/selectivizr.js' %}"></script><![endif]-->
    <!--[if lt IE 10]><script src="{% static 'js/mylibs/polyfills/excanvas.js' %}"></script><![endif]-->
    <!--[if lt IE 10]><script src="{% static 'js/mylibs/polyfills/classlist.js' %}"></script><![endif]-->

       <!-- Scripts required everywhere -->
    <script src="{% static 'js/mylibs/jquery.hashchange.js' %}"></script>
    <script src="{% static 'js/mylibs/jquery.idle-timer.js' %}"></script>
    <script src="{% static 'js/mylibs/jquery.plusplus.js' %}"></script>
    <script src="{% static 'js/mylibs/jquery.scrollTo.js' %}"></script>
    <script src="{% static 'js/mylibs/jquery.ui.touch-punch.js' %}"></script>
    <script src="{% static 'js/mylibs/jquery.ui.multiaccordion.js' %}"></script>
    <script src="{% static 'js/mylibs/number-functions.js' %}"></script>
    <script src="{% static 'js/mylibs/fullstats/jquery.css-transform.js' %}"></script>
    <script src="{% static 'js/mylibs/fullstats/jquery.animate-css-rotate-scale.js' %}"></script>
    <script src="{% static 'js/mylibs/forms/jquery.validate.js' %}"></script>
    <!-- Do not touch! -->
    <script src="{% static 'js/mango.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>

    <title>{% trans "Test" %}</title>
</head>
<body>
    <form method="post">
        {%csrf_token%}
        <input name="email" placeholder="e-mail" type="text"><br>
        <input name="password" placeholder="password" type="password"><br><br>
        <p style="color: red;">{{error}}</p>
        <input name="submitbt" type="submit"><br>

    </form>
</body>
</html>