{% extends 'acc_base.html' %}
{% load staticfiles %}
{% load acctags %}
{% load filters %}
{% load i18n %}
{% block breadcrumb %}
        <div class="left">
            <ul class="breadcrumb">
                <li><a href="/">{% trans "Home" %}</a></li>
                <li><a href="{% url 'movies.views.all' %}">{% trans "Movies" %}</a></li>
                <li><a href="{% url 'movies.views.add_upc' %}">{% trans "Add Additional UPC Code" %}</a></li>
            </ul>
        </div>
{% endblock %}
{% block title %}{% trans "Movies Add Additional UPC Code" %}{% endblock %}

{% block acc_content %}
<script>
    $('#bt_create_upc').addClass('current');
    $('.accordion li a').removeClass('open');
    $('#bt_create_upc').parent().prev().addClass('open');
</script>
  <section id="content" class="container_12 clearfix ui-sortable" data-sort="true">
    <div class="grid_6">
      <div id="createUpcBox" class="box">
        <div class="header">
          <h2>{% trans "Add Additional UPC Code" %}</h2>
        </div>
        <form action="{% url 'movies.views.add_upc' %}" method="post" class="full content validate" id="createUpc">
          {% csrf_token %}
          <fieldset>
            <div class="row">
              <label for="upc">
                <strong>{% trans "UPC" %}</strong>
              </label>
              <div>
                <!--<input data-error-type="inline" class="required maskCustom" data-mask="?999999999999" type="text" name="upcLink" id="upcLink">-->
                <input type="text" class="required" name="upc" id="upc">
              </div>
            </div>
            <div class="row">
              <label for="movieId">
                <strong>{% trans "Movie" %}</strong>
              </label>
              <div>
                <!-- dropdown here -->
                <select data-search-url="{% url 'movies.views.search' %}" name="movieId" id="movieId" class="search" data-placeholder="{% trans "Search the movie" %}">
                  <option value=""></option>
                  {% for movie in movies %}
                    <option value="{{movie.id}}">{{movie.get_name}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="row">
              <label for="diskFormatId">
                <strong>{% trans "Format" %}</strong>
              </label>
              <div>
                <!-- dropdown here -->
                <select name="diskFormatId" id="diskFormatId" class="search" data-placeholder="{% trans "Choose format" %}">
                  <option value=""></option>
                  {% for format in formats %}
                    <option value="{{format.id}}">{{format.name}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </fieldset>
        </form>
        <div class="actions">
          <div class="right">
            <input type="submit" value="{% trans "Add" %}">
          </div>
        </div>
      </div>
    </div>
    <div class="grid_6">
      <div id="creatingUpcHistoryBox" class="box">
        <div class="header">
          <h2>{% trans "Notification center" %}</h2>
        </div>
        <div id="activityHistoryBox" class="autoscroll content create-upc-notify">
          <div id="startNote" class="alert note">
            <span class="icon"></span>
            {% trans "Results of your attempts to create UPC will be displayed here" %}
          </div>
        </div><!-- End of .content -->
      </div><!-- End of .box -->
    </div><!-- End of .grid_6 -->
  </section>
{% endblock %}