{% extends 'site/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %}{% trans "Forgot pass" %} - {{request.company.name}}{% endblock %}
{% block content %}
{% include 'site/search_panel.html' %}
    <!-- Main content -->
        <section class="container">
            <div class="col-sm-12">
                <h2 class="page-heading">{% trans "Forgot pass" %}</h2>
                <section class="container">
                <div class="col-sm-6 col-sm-offset-3">
                    <form id="new-pass-form" class="login" action="" method='post' novalidate=''>
                        {% csrf_token %}
                        <div class="field-wrap">
                        <input type='text' placeholder='{% trans "New password" %}' name='new_password' class="login__input">
                        <input type='text' placeholder='{% trans "Password" %}' name='repeat_new_password' class="login__input">
                        </div>
                        <div class="login__control">
                            <button type='submit' class="btn btn-md btn--warning btn--wider codepass">{% trans "Submite" %}</button>
                        </div>
                        <div class="clear"></div>
                    </form>
                </div>
            </section>
            </div>
        </section>
    <div class="clearfix"></div>
{%endblock%}
{% block script %}
 <script type="text/javascript">
              $(document).ready(function() {
                  init_MovieList();
              });
		  </script>
 {% endblock %}