{% extends 'site/base.html' %}
{% load staticfiles %}
{% load filters %}
{% load i18n %}
{% block title %}{% trans "Confirmation link is not valid" %}{% endblock %}
{% block content %}
{% include 'site/search_panel.html' %}
    <section class="container">
            <h2 class="page-heading heading--outcontainer">{% trans "Confirmation link is not valid" %}</h2>
        <div class="clearfix"></div>
    </section>

{%endblock%}
{% block script %}
<script type="text/javascript">
  $(document).ready(function() {
      init_Registration();
  });
</script>
 {% endblock %}