{% extends 'site/base.html' %}
{% load staticfiles %}
{% load filters %}
{% load i18n %}
{% block title %}{% trans "Sign up" %}{% endblock %}
{% block content %}
{% include 'site/search_panel.html' %}
    <section class="container">
            <h2 class="page-heading heading--outcontainer">{% trans "Sign up" %}</h2>
            <form id="registration-form" class="login select" action="{% url 'sites.views.ajax_signup' %}" method="post" novalidate=''>
                {% csrf_token %}
                    <div class="field-wrap">
                        <input type='email' placeholder='{% trans "Email" %}' name='email' class="login__input">
                        <input type='text' placeholder='{% trans "First name" %}' name='firstName' class="login__input">
                        <input type='text' placeholder='{% trans "Last name" %}' name='lastName' class="login__input">
                        <input type='text' placeholder='{% trans "Zip code" %}' name='zipCode' class="login__input">
                        <input type='password' placeholder='{% trans "Password" %}' name='password' class="login__input">
                        <input type='password' placeholder='{% trans "Confirm password" %}' name='repeat_password' class="login__input">
                        <div class="genreskiosk">{% trans "Primary kiosk" %}</div>
                        <select name="primaryKioskId" class="select__sort" tabindex="0">
                            {% for kiosk in request.company.active_kiosks %}
                                <option value="{{ kiosk.id }}" {% if kiosk.id == request.preferred_kiosk.id %}selected{% endif %}>{{ kiosk.settings.alias }}</option>
                            {% endfor %}
                        </select>
                         <div class="clearfix"></div>
                    </div>
                    <div class="login__control">
                        <button type='submit' id="userRegistration" class="btn btn-md btn--warning btn--wider">{% trans "sign up" %}</button>
                    </div>
            </form>
            <div id="success-reg" class="col-md-12" style="display:none;">
                <div style="margin-bottom: 15px;" class="alert alert-info">
                        <span class="icon-info"></span>
                        {% trans "You are successfully registered. Please check your email and follow instructions to continue registration." %}
                </div>
            </div>
        <div class="clearfix"></div>
    </section>

{%endblock%}
{% block script %}
<script type="text/javascript">
  $(document).ready(function() {
      init_Registration();
  });
</script>
 {% endblock %}