{% extends 'site/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %}{% trans "Forgot pass" %} - {{request.company.name}}{% endblock %}
{% block content %}
{% include 'site/search_panel.html' %}
    <!-- Main content -->
        <section class="container">
            <div class="col-sm-12">
                <h2 class="page-heading">{% trans "Enter Credit Card" %}</h2>
                <section class="container">
                <div class="col-sm-6 col-sm-offset-3">
                    <form id="forgot-code-form" class="login" action="{% url 'sites.views.signup_step3' %}" method='post' novalidate=''>
                        {% csrf_token %}
                        <p class="login__title"><span class="login-edition">{% trans "Enter Credit Card Details" %}</span></p>

                        <div class="field-wrap">
                            <input type='text' id="cardNumber" placeholder='{% trans "Card number" %}' name='cardNumber' class="login__input">
                            {% trans "Card expiry:" %} <input type='text' id="cardExpiryMonth" placeholder='{% trans "Month" %}' name='cardExpiryMonth' class="login__input" style="width: 36%;"> / <input type='text' id="cardExpiryYear" placeholder='{% trans "Year" %}' name='cardExpiryYear' class="login__input" style="width: 36%;">
                        </div>
                        <div class="login__control">
                            <button type='submit' class="btn btn-md btn--warning btn--wider">{% trans "ok" %}</button>
                        </div>
                        <div class="clear"></div>
                    </form>
                </div>
            </section>
            </div>
        </section>
    <div class="clearfix"></div>
{%endblock%}
{% block script %}
 <script type="text/javascript">
              $(document).ready(function() {
                  init_MovieList();
              });
		  </script>
 {% endblock %}