{% load staticfiles %}
<!-- The Styles -->
<!-- ---------- -->

<!-- Layout Styles -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/grid.css' %}">
<link rel="stylesheet" href="{% static 'css/layout.css' %}">

<!-- Icon Styles -->
<link rel="stylesheet" href="{% static 'css/icons.css' %}">
<link rel="stylesheet" href="{% static 'css/fonts/font-awesome.css' %}">
<!--[if IE 8]><link rel="stylesheet" href="{% static 'css/fonts/font-awesome-ie7.css' %}"><![endif]-->

<!-- External Styles -->
<link rel="stylesheet" href="{% static 'css/external/jquery-ui-1.9.1.custom.css' %}">
<link rel="stylesheet" href="{% static 'css/external/jquery.chosen.css' %}">
<link rel="stylesheet" href="{% static 'css/external/jquery.cleditor.css' %}">
<link rel="stylesheet" href="{% static 'css/external/jquery.colorpicker.css' %}">
<link rel="stylesheet" href="{% static 'css/external/jquery.elfinder.css' %}">
<link rel="stylesheet" href="{% static 'css/external/jquery.fancybox.css' %}">
<link rel="stylesheet" href="{% static 'css/external/jquery.jgrowl.css' %}">
<link rel="stylesheet" href="{% static 'css/external/jquery.plupload.queue.css' %}">
<link rel="stylesheet" href="{% static 'css/external/syntaxhighlighter/shCore.css' %}" />
<link rel="stylesheet" href="{% static 'css/external/syntaxhighlighter/shThemeDefault.css' %}" />

<!-- Elements -->
<link rel="stylesheet" href="{% static 'css/elements.css' %}">
<link rel="stylesheet" href="{% static 'css/forms.css' %}">

<!-- OPTIONAL: Print Stylesheet for Invoice -->
<link rel="stylesheet" href="{% static 'css/print-invoice.css' %}">

<!-- Typographics -->
<link rel="stylesheet" href="{% static 'css/typographics.css' %}">

<!-- Responsive Design -->
<link rel="stylesheet" href="{% static 'css/media-queries.css' %}">

<!-- Bad IE Styles -->
<link rel="stylesheet" href="{% static 'css/ie-fixes.css' %}">