{% load i18n %}
<div class="overlay alertmodal overlay-hugeinc">
    <section class="container">
        <div class="col-sm-4 col-sm-offset-4 login">
            <button type="button" class="overlay-close">{% trans "Close" %}</button>
                <p class="login__title"><span class="login-edition">{% trans "Add a new one" %}</span></p>
                <div class="login__control">
                    <button type='button' id="alertmodal" class="btn btn-md btn--warning btn--wider">{% trans "ok" %}</button>
                </div>
                <div class="clear"></div>
        </div>
    </section>
</div>