{% load staticfiles %}
<div class="sitebar first-banner--left">
  <div class="banner-wrap first-banner--left">
    <img alt='banner' src="http://placehold.it/500x500">
  </div>
  <div class="banner-wrap">
    <img alt='banner' src="http://placehold.it/500x500">
  </div>
  <div class="banner-wrap banner-wrap--last">
    <img alt='banner' src="http://placehold.it/500x500">
  </div>
  {#  <!--#}
  {#    <div class="promo marginb-sm">#}
  {#        <div class="promo__head">A.Movie app</div>#}
  {#        <div class="promo__describe">for all smartphones<br> and tablets</div>#}
  {#        <div class="promo__content">#}
  {#            <ul>#}
  {#                <li class="store-variant"><a href="#"><img alt='' src="{% static 'site/images/apple-store.svg' %}"></a></li>#}
  {#                <li class="store-variant"><a href="#"><img alt='' src="{% static 'site/images/google-play.svg' %}"></a></li>#}
  {#                <li class="store-variant"><a href="#"><img alt='' src="{% static 'site/images/windows-store.svg' %}"></a></li>#}
  {#            </ul>#}
  {#        </div>#}
  {#    </div>#}
  {#    -->#}
</div>
{#<!--#}
{#<div class="category category--discuss category--count marginb-sm mobile-category ls-cat">#}
{#  <h3 class="category__title">the Most <br><span class="title-edition">discussed posts</span></h3>#}
{#  <ol>#}
{#    <li><a href="#" class="category__item">Gravity</a></li>#}
{#    <li><a href="#" class="category__item">The Counselor</a></li>#}
{#    <li><a href="#" class="category__item">Bad Grandpa</a></li>#}
{#    <li><a href="#" class="category__item">Blue Is the Warmest Color</a></li>#}
{#    <li><a href="#" class="category__item">Rush</a></li>#}
{#    <li><a href="#" class="category__item">Captain Phillips</a></li>#}
{#    <li><a href="#" class="category__item">Escape Plan</a></li>#}
{#    <li><a href="#" class="category__item">Cloudy with a Chance of Meatballs 2</a></li>#}
{#    <li><a href="#" class="category__item">Prisoners</a></li>#}
{#    <li><a href="#" class="category__item">The Fifth Estate</a></li>#}
{#  </ol>#}
{#</div>#}
{##}
{#<div class="category category--cooming category--count marginb-sm mobile-category rs-cat">#}
{#  <h3 class="category__title">coming soon<br><span class="title-edition">movies</span></h3>#}
{#  <ol>#}
{#    <li><a href="#" class="category__item">Ender's Game</a></li>#}
{#    <li><a href="#" class="category__item">About Time</a></li>#}
{#    <li><a href="#" class="category__item">Last Vegas</a></li>#}
{#    <li><a href="#" class="category__item">Free Birds</a></li>#}
{#    <li><a href="#" class="category__item">The Wolf of Wall Street</a></li>#}
{#    <li><a href="#" class="category__item">The Best Man Holiday</a></li>#}
{#    <li><a href="#" class="category__item">The Book Thief</a></li>#}
{#    <li><a href="#" class="category__item">The Hunger Games: Catching Fire</a></li>#}
{#    <li><a href="#" class="category__item">Delivery Man</a></li>#}
{#    <li><a href="#" class="category__item">Nebraska</a></li>#}
{#  </ol>#}
{#</div>#}
{#-->                   #}
