{% load staticfiles %}
{% load i18n %}
<form id='search-main-form' method='get' action="{% url 'sites.views.movies_search' %}" class="">
  <div class="mega-select-present mega-select-top mega-select--full">
    <div class="mega-select-marker">
      <div class="marker-indecator title">
        <p class="select-marker"><span>{% trans "find movie" %}</span> <br>{% trans "by title" %}</p>
      </div>

      <div class="marker-indecator description">
        <p class="select-marker"><span>{% trans "find movie" %}</span> <br>{% trans "by plot" %}</p>
      </div>

      <div class="marker-indecator genre">
        <p class="select-marker"><span>{% trans "find movie" %}</span> <br> {% trans "by genres" %}</p>
      </div>
{#      <!--#}
{#      <div class="marker-indecator actors">#}
{#          <p class="select-marker"><span> like particular stars</span> <br>find them</p>#}
{#      </div>#}
{#      <div class="marker-indecator director">#}
{#          <p class="select-marker"><span>admire personalities - find </span> <br>by director</p>#}
{#      </div>#}
{#      <div class="marker-indecator country">#}
{#          <p class="select-marker"><span>search for movie from certain </span> <br>country?</p>#}
{#      </div>#}
{#      -->#}
    </div>

    <div class="mega-select pull-right">
      <span class="mega-select__point">{% trans "Search by" %}</span>
      <ul class="mega-select__sort">
        <li class="filter-wrap"><a href="#" class="mega-select__filter filter--active" data-filter='title'>{% trans "Title" %}</a>
        </li>
        <li class="filter-wrap"><a href="#" class="mega-select__filter" data-filter='description'>{% trans "Plot" %}</a></li>
        <li class="filter-wrap"><a href="#" class="mega-select__filter" data-filter='genre'>{% trans "Genres" %}</a></li>
{#        <!--#}
{#        <li class="filter-wrap"><a href="#" class="mega-select__filter" data-filter='actors'>Actors</a></li>#}
{#        <li class="filter-wrap"><a href="#" class="mega-select__filter" data-filter='director'>Director</a></li>#}
{#        <li class="filter-wrap"><a href="#" class="mega-select__filter" data-filter='country'>Country</a></li>#}
{#        -->#}
      </ul>

      <input name="query" type='text' class="select__field">
      <input name="category" type='hidden' class="category__field" value="title">

      <div class="select__btn">
        <a href="#" class="mybtn btn btn-md btn--danger title">{% trans "search" %} <span class="hidden-exrtasm">{% trans "by title" %}</span></a>
        <a href="#" class="mybtn btn btn-md btn--danger description">{% trans "search" %} <span class="hidden-exrtasm">{% trans "by plot" %}</span></a>
        <a href="#" class="mybtn btn btn-md btn--danger genre">{% trans "search" %} <span class="hidden-exrtasm">{% trans "by genre" %}</span></a>
{#        <!--<a href="#" class="btn btn-md btn--danger actors">find <span class="hidden-exrtasm">talented actors</span></a>#}
{#        <a href="#" class="btn btn-md btn--danger director">find <span class="hidden-exrtasm">favorite director</span></a>#}
{#        <a href="#" class="btn btn-md btn--danger country">find <span class="hidden-exrtasm">produced country</span></a>#}
{#        -->#}
      </div>

      <div class="select__dropdowns">
{#        <!--#}
{#        <ul class="select__group location">#}
{#          <li class="select__variant" data-value='London'>London</li>#}
{#          <li class="select__variant" data-value='New York'>New York</li>#}
{#          <li class="select__variant" data-value='Paris'>Paris</li>#}
{#          <li class="select__variant" data-value='Berlin'>Berlin</li>#}
{#          <li class="select__variant" data-value='Moscow'>Moscow</li>#}
{#          <li class="select__variant" data-value='Minsk'>Minsk</li>#}
{#          <li class="select__variant" data-value='Warsawa'>Warsawa</li>#}
{#        </ul>#}
{#        <ul class="select__group cinema">#}
{#          <li class="select__variant" data-value='Cineworld'>Cineworld</li>#}
{#          <li class="select__variant" data-value='Empire'>Empire</li>#}
{#          <li class="select__variant" data-value='Everyman'>Everyman</li>#}
{#          <li class="select__variant" data-value='Odeon'>Odeon</li>#}
{#          <li class="select__variant" data-value='Picturehouse'>Picturehouse</li>#}
{#        </ul>#}
{#         -->#}
        <ul class="select__group genre">
          {% for genre in genres %}
            <li class="select__variant" data-value="{{ genre }}">{{ genre }}</li>
          {% endfor %}
        </ul>
{#        <!--#}
{#      <ul class="select__group actors">#}
{#        <li class="select__variant" data-value='Leonardo DiCaprio'>Leonardo DiCaprio</li>#}
{#        <li class="select__variant" data-value='Johnny Depp'>Johnny Depp</li>#}
{#        <li class="select__variant" data-value='Jack Nicholson'>Jack Nicholson</li>#}
{#        <li class="select__variant" data-value='Robert De Niro'>Robert De Niro</li>#}
{#        <li class="select__variant" data-value='Morgan Freeman'>Morgan Freeman</li>#}
{#        <li class="select__variant" data-value='Jim Carrey'>Jim Carrey</li>#}
{#        <li class="select__variant" data-value='Adam Sandler'>Adam Sandler</li>#}
{#        <li class="select__variant" data-value='Ben Stiller'>Ben Stiller</li>#}
{#      </ul>#}
{#      <ul class="select__group director">#}
{#        <li class="select__variant" data-value='Steven Spielberg'>Steven Spielberg</li>#}
{#        <li class="select__variant" data-value='Martin Scorsese'>Martin Scorsese</li>#}
{#        <li class="select__variant" data-value='Guy Ritchie'>Guy Ritchie</li>#}
{#        <li class="select__variant" data-value='Christopher Nolan'>Christopher Nolan</li>#}
{#        <li class="select__variant" data-value='Tim Burton'>Tim Burton</li>#}
{#      </ul>#}
{#      <ul class="select__group country">#}
{#        <li class="select__variant" data-value='USA'>USA</li>#}
{#        <li class="select__variant" data-value='Germany'>Germany</li>#}
{#        <li class="select__variant" data-value='Australia'>Australia</li>#}
{#        <li class="select__variant" data-value='UK'>UK</li>#}
{#        <li class="select__variant" data-value='Japan'>Japan</li>#}
{#        <li class="select__variant" data-value='Serbia'>Serbia</li>#}
{#      </ul>#}
{#      -->#}
      </div>
    </div>
  </div>
</form>