{% extends 'site/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %}{% trans "Cart" %} - {{request.company.name}}{% endblock %}
{% block content %}
    {% include 'site/search_panel.html' %}
    <!-- Main content -->
        <section class="container">
            <div class="col-sm-12">
                <h2 class="page-heading">{% trans "Cart" %}</h2>
                <div class="row" id="cartrefresh">
                    {% include 'site/reservation/ajax_cart.html' %}
                </div>
                <div class="clearfix"></div>
            </div>
        </section>
    <!-- End Main content -->
        <div class="overlay confirmdelete overlay-hugeinc">
            <section class="container">
                <div class="col-sm-4 col-sm-offset-4">
                    <button type="button" class="overlay-close">{% trans "Close" %}</button>
                        <div id="normal-confirmdelete">
                            <p class="login__title">{% trans "Delete movie with cart?" %}</p>
                            <div class="login__control">
                                <button type='button' class="btn btn-md btn--warning btn--wider">{% trans "Ok" %}</button>
                                <button type='button' class="btn btn-md btn--warning btn--wider">{% trans "Cancel" %}</button>
                            </div>
                        </div>
                </div>
            </section>
        </div>
    {% include 'site/modals/card.html' %}
    <div class="overlay kioskchoosecart overlay-hugeinc">
    <section class="container">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
            <button type="button" class="overlay-close">{% trans "Close" %}</button>
            <form id="choose-kiosk-cart-form" class="login" action="{% url 'sites.views.preferred_kiosk' %}" method='post' novalidate=''>
                {% csrf_token %}
                <p class="login__title"><span class="login-edition">{% trans "Choose kiosk" %}</span></p>
                <div id="normal-kioskchoosecart">
                    {% for kiosk in request.company.active_kiosks %}
                        <div class="login__control">
                            <div class="namekiosk"><a data-href="{% url 'sites.views.company_kiosks' %}{{ kiosk.id }}" data-id="{{ kiosk.id }}" href="{% url 'sites.views.company_kiosks' %}{{ kiosk.id }}">{{ kiosk.settings.alias }}</a></div>
                            <div class="address {% if forloop.last %}addresslast{% endif %}">
                                <span class="pull-left">{{ kiosk.address.to_string }}</span>
                                <button data-href="{% url 'sites.views.company_kiosks' %}{{ kiosk.id }}" data-id="{{ kiosk.id }}" type='submit' class="btn pull-right btn-sm {% if request.preferred_kiosk.id == kiosk.id %}btn--danger{% else %}btn--info{% endif %}">
                                    {% if request.preferred_kiosk.id == kiosk.id %}{% trans "Active" %}{% else %}{% trans "Choose" %}{% endif %}
                                </button>
                                <div class="clear"></div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </form>
        </div>
    </section>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
$(document).ready(function() {init_Cart();});
</script>
 {% endblock %}
